.reg {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 600px;
  transform: translate(50%, 4%);
  // border: 2px solid gray;
  background-color: rgb(255, 239, 194);
  padding: 20px;
  form {
    .form-control {
      font-size: 16px;
      padding-block: 10px;
      &::placeholder {
        color: rgba(180, 176, 176, 0.623);
      }
    }
  }
}
