.App {
  width: 99%;
  height: 100vh;
  border: 2px solid blue;
  padding-block-start: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(225, 0, 255), rgba(132, 209, 132, 0.568));
}
